@font-face{
    font-family: ledlight;
    src: url(fonts/LEDLIGHT.otf);
    
}
@font-face {
    font-family: bjork;
    src: url(fonts/hypik.otf)
}
@font-face {
    font-family: extrablur;
    src: url(fonts/ExtraBlur.ttf)
}

h1{
    text-align: left;
    font-family: ledlight;
    font-size: 300%;
    font-weight: normal;

}
h2{
    font-family: extrablur;
    text-align: left;
    font-size: 100%;
    font-weight:normal;
}
p{
    font-family: monospace;
    text-align: center;
    text-size-adjust: 500%;
    font-size: 200%;

}
img{
   max-width: 90%;
   height: auto;
   border-radius: 8px;
   border: 2px solid #000;
}
a{
    color: black;
    font-family: monospace;
    font-size: 150%;

}
a:hover{
    color: black;
    font-family: ledlight;
    font-size: 105%;
}
a:visited{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 150%;
}

.bar{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 15px;
    background-color: gray;
}
.feed{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1px;
    column-gap: 1px;
    
}
.feedtext{
    display: flex;
    flex-wrap: wrap;
    font-family: ledlight;
    color: #000;
    font-size: 300%;
    margin: 20px;
}
.watchlist{
    color: black;
    font-family: ledlight;
    font-size: 105%;
}
.watchlisttext{
    color: #000;
    margin-left: 50px;
    margin-top: 15px;
}