@font-face{
    font-family: ledlight;
    src: url(fonts/LEDLIGHT.otf);
    
}
@font-face {
    font-family: bjork;
    src: url(fonts/hypik.otf)
}
@font-face {
    font-family: extrablur;
    src: url(fonts/ExtraBlur.ttf)
}

h1{
    text-align: left;
    font-family: ledlight;
    font-size: 300%;
    font-weight: normal;

}
h2{
    font-family: extrablur;
    text-align: left;
    font-size: 100%;
    font-weight:normal;
}
p{
    font-family: monospace;
    text-align: center;
    text-size-adjust: 150%;

}
.images{
    display: inline;
    width: 50%;
}
a{
    color: black;

}